@font-face {
	font-family:"basic-font";
	src: url("../font/Century Gothic.ttf") format("truetype");;
}
@font-face{
	font-family: "garet";
    src: url("../font/Garet-Book.otf");
}
:root{
	--menu-color:#005050;
	--menu-font-color:#ffffff;
	--menu-heigth:80px;
	--background-color:#ffffff;
	--container-block-height:300px;
}
*{
	margin:0;
	box-sizing:border-box;
	font-family:"basic-font";
}
html{
	scroll-behavior: smooth;
}

a{
	text-decoration:none;
}
i{
	cursor:default;
	user-select:none;
}
body{
	max-width:100%;
	background-color:var(--background-color);
}
/*-----------------index---------------------------------*/
#index-center{
	width:100%;
	min-height:calc(100vh - var(--menu-heigth));
	background-color:var(--menu-color);
	text-align:center;
	/*background-image:url("../img/logo.png");
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position-x:right;
	background-position-y:center;
	background-size:contain;*/
	
}

#index-text{
	float:right;
	background-color:transparent;
	width:90%;
	text-align:left;
	margin-top:25vh;
	color:var(--menu-font-color);
	font-family:"garet";
  	
}
#index-text h1, #index-text h2{
	font-family: 'garet';
}
#index-text h1{
	font-size:3.8em;
}
#index-text h2{
	font-size:2em;
}
#index-text a{
	display:inline-block;
	padding:20px;
	margin-top:40px;
	color:#ffffff;
	background:#005d5d;
	font-weight: bold;
}


/*-----------------------MENU-----------------------------*/
#menu-bar{/*BARRA DE MENU*/
	min-width:750px;
	width:100%;
	height:var(--menu-heigth);
	position:fixed;
	top:0;
	background-color:var(--menu-color);
	color:#000000;
	border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:#ffffff;
	z-index:20;
	transition:0.3s;
}
#menu-bar > #home-link{/*LINKS DO MENU -> ('HOME')*/
	font-size:38px;
	color:var(--menu-font-color);
	transition:0.3s;
	font-family:"Sofia", sans-serif;
	font-style:italic;
	font-weight: normal;
	float:left;
	width:250px;
	height:130%;
	padding:22px 0px 0px 80px;
	margin-left:40px;
	background-image:url("../img/logo2.jpg");
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position-x:10%;
	background-position-y:50%;
	background-size:150px;
}
	/*#menu-bar > #home-link:hover{
		color:#000000;
		text-decoration:underline 2px;
	}*/
#btn-group{/* MENU -> link de login/registro*/
	width:160px;
	height:100%;
	float:right;
	
}
#btn-group > a{
	color:var(--menu-font-color);
	font-weight: bold;
	font-family:'garet';
	font-size:14px;
	display:inline-block;
	height:100%;
	padding:calc(var(--menu-heigth) - 30px) 10px 0px 10px;
	/*background-repeat: no-repeat;
	background-attachment:scroll;
	background-position-x:center;
	background-position-y:12%;
	background-size:60px;*/
}
	/*#btn-group > a:hover{
		transition:0.5s;
		color:#000000;
		text-decoration:underline 2px;
	}*/
#btn-group > #menu-btn-user > span{
	font-size:45px;
	position:absolute;
	top:10px;
	margin-left:-4px;
}
#btn-group > #menu-btn-login > span{
	font-size:45px;
	position:absolute;
	top:10px;
	margin-left:20px;
}

	/*
#btn-group > #menu-btn-user{
	background-image:url("../img/pf2.png");
}
#btn-group > #menu-btn-emp{
	background-image:url("../img/pe2.png");
}*/
#btn-group > form{
	display:inline-block;
	
}
#btn-group > form > button{
	background-color:var(--menu-color);
	border:0;
	color:var(--menu-font-color);
	font-weight: bold;
	font-family:'garet';
	font-size:14px;
	transition:0.3s;
	margin-left:10px;
}
#btn-group > form > button:hover{
	/*text-decoration:underline;*/
	cursor:pointer;
	/*color:#000;*/
}
#btn-group > form > button > span{
	font-size:45px;
	position:absolute;
	top:10px;
	margin-left:-4px;
}
/*---------------------BARRA DE PESQUISA---------------------*/
#search-bar{
	float:left;
	width:80%;
	height:43px;
	margin:68px 0px 25px 10%;
	outline:none;
	border-width:0px;
	border-bottom-width:2px;
	border-style:solid;
	padding:15px 0px 0px 36px;
	font-size:20px;
	color:#000000;
	border-color: #000000;
	background-color:var(--background-color);
	background-image:url('../img/search-black.png');
	background-size:36px 36px;
	background-position:0px 9px;
	background-repeat:no-repeat;
	
}
::placeholder{
	color:#232424;
}

/*---------------------BLOCO CENTRAL------------------------*/
#container-principal{/*BLOCO PRINCIPAL (NO CENTRO)*/
	float:left;
	width:100%;
	margin-top:var(--menu-heigth);
	background-color:var(--background-color) ;
	min-height:calc(100vh - 160px);
	border-width:0px;
}
.container-blocks{
	float:left;
	width:calc(100% - 40px);
	height:var(--container-block-height);
	margin:15px;
	border-width:2px;
	transition:0.3s;
	background:var(--background-color);
	border-style:solid;
	border-color:var(--background-color);
	/*box-shadow: 0px 0px 4px 3px #666666;*/
}
	
.container-blocks:hover{
	border-color:#005d5d;
}
	.container-blocks:hover > .container-block-text{
		text-decoration:underline;
		color:#000000;
	}
.container-blocks img{
	width:100%;
	height:100%;
	margin-bottom:-5px;
	object-fit:cover;
}
.container-block-text{
	word-wrap: break-word;
	text-transform:uppercase;
	text-align:justify;
	font-weight:bold;
	text-indent:15%;
	font-family:"garet";
	font-size:17px;
	display:block;
	position:relative;
	min-width:40%;
	width:45%;
	max-width:100%;
	height:50px;
	margin-top:-49px;
	overflow:hidden;
	opacity:0.9;
	transition:0.3s;
	background:#005d5d;
	color:#ffffff;
}
.block-text-sub{
	width:100%;
	height:50%;
	margin-bottom:0;
	font-size:14px;
	font-family:"garet";
	font-weight:normal;
}
.container-block-text2{
	position:relative;
	float:right;
	width:100px;
	max-width:100%;
	height:50px;
	margin-top:calc((var(--container-block-height) * -1) + 2px);
	text-align:center;
	overflow:hidden;
	font-size:17px;
	opacity:0.9;
	transition:0.3s;
	background:#005d5d;
	color:#ffffff;
}
@media (min-width:840px){
	.container-blocks{
		width:calc(50% - 40px);
		--container-block-height:320px;
	}
	.container-block-text{
		width:50%;
	}
	.container-block-text2{
		/*margin-top:calc(-320px + 30px);*/
	}
}
@media (min-width:1280px){
	.container-blocks{
		width:calc((100% / 3) - 40px);
		--container-block-height:350px;
	}
	.container-block-text2{
		/*
		margin-top:calc(-350px + 30px);*/
	}
}
#list{
	min-height:80vh;
}
/*.container-blocks:hover .container-block-text{
	height:80px;
	margin-top:-80px;
}*/
/*---------------------------Página das clínicas-----------------------*/
.clin-block{
	float:left;
	width:100%;
	height:auto;
	padding:20px;
	text-align:left;
}
#album-block-img{
	margin-top:35px;
	width:100%;
	height:auto;
	text-align:center;
	float:left;
	padding:0;
}
#clin-block1 img{
	width:auto;
	max-width:100%;
	height:100%;
	object-fit:cover;
	margin:auto 0 auto 0;
}
.clin-block .title{
	width:100%;
	float:left;
	height:30px;
	text-align:left;
	font-size:24px;
	font-weight:bold;
	color:#007e7e;
}
.info h3{
	color:#007e7e;
	margin-bottom:10px;
}
.clin-block .info{
	width:100%;
	float:left;
	height:auto;
	margin-top:20px;
	word-wrap: break-word;
	text-align:justify;
}

	@media (min-width:1000px){
		.clin-block{
			width:50%;
		}
		#album-block-img{
			width:450px;
			max-height:250px;
			text-align:center;
			border-bottom-width:1px;
		}
		#clin-block1 img{
			width:450px;
			max-height:248px;
		}
		
	}

/*-----------------------FORMULÁRIOS----------------------------*/

.formularios{
	display:block;
	margin:60px auto 60px auto;
	padding:40px;
	width:65%;
	max-width:95%;
	min-height:500px;
	border:1px solid #005d5d;
	border-radius:20px;
	text-align:center;
	color:#004e4e;
}
.formularios  label{
	display:inline-block;
	width:100%;
	text-align:left;
	text-indent: 15%;
	font-family: 'garet';
	font-size:20px;
}
.formularios  input, .formularios textarea{
	display:inline-block;
	width:70%;
	height:40px;
	border-radius:6px;
	margin:2px 0 10px 0;
	border:1px solid #005d5d;
	
}
.formularios textarea{
	resize: none;
	height:80px;
}
#alerta_senha{
	display:inline-block;
	width:70%;
	height:20px;
	max-height:auto;
	margin:-5px auto 10px auto;
	text-align:left;
	color:red;
}
#mostrar_senha, #mostrar_senha2{
	display:inline-block;
	position:absolute;
	margin-top:6.5px;
	background:none;
	border:0;
}

.formularios button[type=submit]{
	width:90px;
	height:30px;
	margin-top:10px;
	background-color:#005d5d;
	font-family:'garet';
	color:#ffffff;
}
	.formularios button[type=submit]:hover{
		cursor:pointer;
	}
.formularios h2{
	color:#005d5d;
}
.formularios .sub_bloco{
	width:80%;
	border:1px inset #000;
	border-radius:20px;
	margin:0 auto;
	border:1px solid #005d5d;
}
.sub_bloco-titulo{
	font-weight:bold;
}
.login-form{

}
.reg-form{

}
	.reg-form button[type=submit]{
		width:100px;
	}
#genero{
	width:70%;
	margin:0 auto;
	text-align:left;
	padding-left:25px;
}
.formularios input[type=radio]{
	width:30px;
	height:30px;
	margin:0;
}
#genero label{
	text-align:left;
	text-indent:0;
	vertical-align:8px;
	width:50%;
}
.formularios input[type=checkbox]{
	width:30px;
	height:30px;
	margin:0;
}
	.formularios input[type=checkbox]:checked{
		/*background-color:#005d5d;  ---------não funcionou*/
	}
.formularios .forma_pagamento{
	width:50%;
}
/*-----------------------AVALIAÇÃO----------------------------*/

form[name="formComentario"] input[name="comentario"] {
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #005d5d;
    height: auto;
	border-radius: 10px;
}

#comentarios {
    float: left;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #005d5d;
    height: auto;
    border-radius: 20px;
}

.comentarios {
    float: left;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
	border: 2px solid #005d5d;
	color: #000;
    height: auto;
    border-radius: 20px;
}

.btn-avaliar {
	background-color: #ffffff;
    border: none;
    padding: 1px 1px;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 20px;
	font-weight: bold;
}

.avaliacao{
	display: flex;
	margin-left: -40px;
}

.star-icon{
	list-style-type: none;
	cursor: pointer;
	color: #004e4e;
	font-size: 25px;
}

.star-icon::before{
	content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
	content: "\2606";
}

.avaliacao:hover .star-icon::before{
	content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
	content: "\2606";
}


/*-----------------------FORMULARIO DO PERFIL----------------*/

#perfil_descricao{
	width:100%;
	height:80px;
	resize:none;
	overflow-x:hidden;
	overflow-y:scroll;
	background:transparent;
}
#perfil_horario{
	width:50%;
	height:120px;
	resize:none;
}
#upFoto{
	display:block;
	width:51%;
}
#cancelarUpdate_btn, #cancelardelete_btn{
	width:90px;
	height:30px;
	margin-top:10px;
	background-color:#a01212;
	font-family:'garet';
	color:#ffffff;
}
#editperf_btn, #deleteperf_btn{
	display:inline-block;
	width:120px;
	height:30px;
	margin-top:10px;
	background-color:var(--menu-color);
	font-family:'garet';
	color:#ffffff;
}
#editsenha_btn{
	display:inline-block;
	width:120px;
	height:30px;
	margin-top:10px;
	background-color:var(--menu-color);
	font-family:'garet';
	color:#ffffff;
}
#form-alterasenha{
	display:inline;
	width:50%;
}
#cancelardelete_btn{
	background:#004e4e;
}
#deleteaccbtn{
	background:#a01212;
}
#deleteperf_btn{
	background:#a01212;
}
/*------------------------FOOTER-----------------------------*/
footer{/*RODAPÉ*/
	clear:both;
	width:100%;
	min-height:150px;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-top-width:2px;
	background-color:var(--menu-color);
	color:var(--menu-font-color);
	border-top-style:solid;
	border-top-color:#004e4e;
}
footer > p{
	margin-top:2px;
}
::-webkit-scrollbar-track {
    background-color:#999999;
}
::-webkit-scrollbar {
    width: 8px;
    background:#333333;
}
::-webkit-scrollbar-thumb {
    background:#444444;
}
::-webkit-scrollbar-thumb:hover{
	background:#555555;
}
